<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>849176790178-puevaekk08kh7ov99coet0dt3nt7slrt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849176790178-puevaekk08kh7ov99coet0dt3nt7slrt</string>
	<key>API_KEY</key>
	<string>AIzaSyDtgtS0UZYu5KfUCNgxt25nVJzn06gZ98k</string>
	<key>GCM_SENDER_ID</key>
	<string>849176790178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SoftCoding.darApp</string>
	<key>PROJECT_ID</key>
	<string>darapp-321009</string>
	<key>STORAGE_BUCKET</key>
	<string>darapp-321009.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849176790178:ios:3f524fe01793f104aa03fb</string>
</dict>
</plist>